{:paths ["src/core"]
 :deps
 {
  buddy/buddy-core {:mvn/version "1.6.0"}
  cheshire         {:mvn/version "5.10.0"}
  clj-http         {:mvn/version "3.10.1"}
  ring/ring-core   {:mvn/version "1.8.1"}
  user.ring        {:mvn/version "2020.177.31291"}
  user.uri         {:mvn/version "2020.182.47882"}
  }
 :aliases
 {
  :repl
  {:extra-paths ["src/test"]
   :main-opts   ["-i" "@/repl.clj"]
   }


  :test-runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha     "f7ef16dc3b8332b0d77bc0274578ad5270fbfedd"}}
   :main-opts  ["-m" "cognitect.test-runner" "-d" "src/test"]}


  :eastwood
  {:extra-deps {jonase/eastwood {:mvn/version "RELEASE"}}
   :main-opts  ["-m" "eastwood.lint" {:source-paths ["src/core"]}]}


  :kibit
  {:extra-paths ["resource" "src/test"]
   :extra-deps  {jonase/kibit {:mvn/version "RELEASE"}}
   :main-opts   ["-m" ""]}


  :aot
  {
   :extra-paths ["resource" "target/static/resource"]
   :extra-deps
   {
    org.clojure/tools.deps.alpha {:mvn/version "0.8.677"}
    }}


  :provided
  {:extra-deps
   {
    }}


  :test
  {
   :extra-paths ["src/test"]
   :extra-deps
   {
    clojure.java-time            {:mvn/version "0.3.2"}
    com.taoensso/timbre          {:mvn/version "4.10.0"}
    datascript                   {:mvn/version "0.18.13"}
    integrant                    {:mvn/version "0.8.0"}
    io.pedestal/pedestal.jetty   {:mvn/version "0.5.7"}
    io.pedestal/pedestal.service {:mvn/version "0.5.7"}
    metosin/reitit               {:mvn/version "0.4.2"}
    metosin/reitit-pedestal      {:mvn/version "0.4.2"}
    org.clojure/core.async       {:mvn/version "1.2.603"}
    org.clojure/core.match       {:mvn/version "1.0.0"}
    user.repl                    {:mvn/version "2020.169.17321"}


    org.clojure/tools.cli        {:mvn/version "1.0.194"}
    org.clojure/tools.deps.alpha {:mvn/version "0.8.677"}
    user.java.time               {:git/url "https://github.com/aJchemist/user.java.time.git" :sha "68aaf15bbef09c96dc2cb02d9e2f2a7d9e7cfd30"}
    user.tools.deps.alpha        {:git/url "https://github.com/aJchemist/user.tools.deps.alpha.git" :sha "14d099e738cda8d59e99ab8fbaf31834c29bc072"}
    }}


  :cider/nrepl
  {:extra-deps {nrepl/nrepl       {:mvn/version "0.7.0"}
                cider/cider-nrepl {:mvn/version "0.25.1"}
                refactor-nrepl    {:mvn/version "2.5.0"}}}
  }}


;; Local Variables:
;; cider-preferred-build-tool: clojure-cli
;; End:
